@font-face {
    font-family: whoaskssatan;
    src: url(../src/fonts/who_asks_satan.ttf);
}

h1 {
    font-family: whoaskssatan;
    font-size: 50px;
}

body {
    background-color: rgb(20, 6, 6);
    color: rgb(141, 45, 45);
}


.container {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: white;
}


button {
    /* font-family: whoaskssatan; */
    margin-top: 1em;
    /* font-size: 3rem !important; */
    margin-left: 1em;
    height: 70px;
    width: 100px;
    background-color: rgb(48, 10, 10);
    color: white;
}

.queueboard {
    background-color: rgb(15, 5, 5);
    padding: 2px;
    border: 1px solid black;
    width: 640px;
    max-height: 390px;
    white-space: nowrap;
    overflow: auto;
    overflow-y: scroll;
}

.small {
    height: 20px;
    width: 60px;
    font-size: 12px;
}

.queue {
    cursor: pointer;
}

.queue:hover {
    background-color: #181818;
}

.controlpanel {
    display: flex;
    flex-direction: row;
}

.item {
    display: flex;
    flex-direction: column;
}

.timer {
    color: white;
    font-size: 120px;
}

#expected {
    /* margin-left: 1em; */
    display: inline;
}

.checkarea {
    margin-top: 2em;
    margin-left: 2em;
}

.timerarea {
    text-align: center;
}

button {
    font-size: large;
}

.inputtime {
    margin-top: 1em;
    margin-left: 1em;
}

#inputtime {
    width: 50px;
    font-size: 40px;
}

iframe {
    width: 640px;
    height: 390px;
    border: none;
}